## Importation des donn√©es

In [2]:
import pandas as pd
import numpy as np
test = pd.read_csv("test.csv")

In [3]:
test.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
5,0027_01,Earth,False,F/7/P,TRAPPIST-1e,31.0,False,0.0,1615.0,263.0,113.0,60.0,Karlen Ricks
6,0029_01,Europa,True,B/2/P,55 Cancri e,21.0,False,0.0,NaN,0.0,0.0,0.0,Aldah Ainserfle
7,0032_01,Europa,True,D/0/S,TRAPPIST-1e,20.0,False,0.0,0.0,0.0,0.0,0.0,Acrabi Pringry
8,0032_02,Europa,True,D/0/S,55 Cancri e,23.0,False,0.0,0.0,0.0,0.0,0.0,Dhena Pringry
9,0033_01,Earth,False,F/7/S,55 Cancri e,24.0,False,0.0,639.0,0.0,0.0,0.0,Eliana Delazarson

In [4]:
test.Cabin.fillna("X/9999/X", inplace = True)

In [5]:
test.insert(4, 'CabinDeck', test.Cabin.apply(lambda x: str(x).split("/")[0]))
test.insert(5, 'CabinNum', test.Cabin.apply(lambda x: str(x).split("/")[1]))
test.insert(6, 'CabinSide', test.Cabin.apply(lambda x: str(x).split("/")[2]))

In [6]:
test.drop(["Cabin"], axis = 1, inplace = True)

In [7]:
test.head(10)

,PassengerId,HomePlanet,CryoSleep,CabinDeck,CabinNum,CabinSide,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G,3,S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F,4,S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C,0,S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C,1,S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F,5,S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
5,0027_01,Earth,False,F,7,P,TRAPPIST-1e,31.0,False,0.0,1615.0,263.0,113.0,60.0,Karlen Ricks
6,0029_01,Europa,True,B,2,P,55 Cancri e,21.0,False,0.0,NaN,0.0,0.0,0.0,Aldah Ainserfle
7,0032_01,Europa,True,D,0,S,TRAPPIST-1e,20.0,False,0.0,0.0,0.0,0.0,0.0,Acrabi Pringry
8,0032_02,Europa,True,D,0,S,55 Cancri e,23.0,False,0.0,0.0,0.0,0.0,0.0,Dhena Pringry
9,0033_01,Earth,False,F,7,S,55 Cancri e,24.0,False,0.0,639.0,0.0,0.0,0.0,Eliana Delazarson

## Valeurs Manquantes

### Home Planet

In [8]:
test.HomePlanet.isna().sum()

87

In [9]:
test.groupby("HomePlanet").HomePlanet.count()

HomePlanet
Earth     2263
Europa    1002
Mars       925
Name: HomePlanet, dtype: int64

In [10]:
for index in test.index:
  row = test.iloc[index]
  if (pd.isnull(row.HomePlanet)):
    if (row.CabinDeck in ["A", "B", "C", "T"]):
      test.loc[index, "HomePlanet"] = "Europa"
    if (row.CabinDeck in ["D", "E"]):
      test.loc[index, "HomePlanet"] = "Mars"
    if (row.CabinDeck in ["F", "G", "X"]):
      test.loc[index, "HomePlanet"] = "Earth"

In [11]:
test.HomePlanet.isna().sum()

0

### CryoSleep

In [12]:
test.CryoSleep.isna().sum()

93

In [13]:
for index in test.index:
  row = test.iloc[index]
  if (pd.isnull(row.CryoSleep)):
    if (row.HomePlanet == "Mars" or row.RoomService != 0 or row.FoodCourt != 0 or row.ShoppingMall != 0 or row.Spa != 0 or row.VRDeck != 0):
      test.loc[index, "CryoSleep"] = False
    else: test.loc[index, "CryoSleep"] = True

In [14]:
test.CryoSleep.isna().sum()

0

### Destination

In [15]:
test.Destination.isna().sum()

92

In [16]:
test.groupby("Destination").Destination.count()

Destination
55 Cancri e       841
PSO J318.5-22     388
TRAPPIST-1e      2956
Name: Destination, dtype: int64

In [17]:
test.Destination = test.Destination.replace(np.nan, "TRAPPIST-1e")

In [18]:
test.Destination.isna().sum()

0

### Age

In [19]:
test.Age.isna().sum()

91

In [20]:
test.Age.describe()

count    4186.000000
mean       28.658146
std        14.179072
min         0.000000
25%        19.000000
50%        26.000000
75%        37.000000
max        79.000000
Name: Age, dtype: float64

In [21]:
test.groupby("Age").Age.count()

Age
0.0     82
1.0     27
2.0     35
3.0     34
4.0     20
        ..
74.0     2
75.0     2
77.0     1
78.0     1
79.0     2
Name: Age, Length: 79, dtype: int64

In [22]:
test.Age = test.Age.replace(np.nan, 29)

In [23]:
test.Age.describe()

count    4277.000000
mean       28.665420
std        14.027471
min         0.000000
25%        20.000000
50%        27.000000
75%        37.000000
max        79.000000
Name: Age, dtype: float64

In [24]:
test.Age.isna().sum()

0

### VIP

In [25]:
test.VIP.isna().sum()

93

In [26]:
for index in test.index:
  row = test.iloc[index]
  if (pd.isnull(row.VIP)):
    if (row.Age >= 25 and row.HomePlanet == "Europa"):
      test.loc[index, "VIP"] = True
    else: test.loc[index, "VIP"] = False

In [27]:
test.VIP.isna().sum()

0

### RoomService, FoodCourt, ShoppingMall, Spa, VRDeck

In [28]:
sum([test.RoomService.isna().sum(), test.FoodCourt.isna().sum(), test.ShoppingMall.isna().sum(), test.Spa.isna().sum(), test.VRDeck.isna().sum()])

467

In [29]:
meanRoomService = test.RoomService[test.CryoSleep == False].mean()
meanFoodCourt = test.FoodCourt[test.CryoSleep == False].mean()
meanShoppingMall = test.ShoppingMall[test.CryoSleep == False].mean()
meanSpa = test.Spa[test.CryoSleep == False].mean()
meanVRDeck = test.VRDeck[test.CryoSleep == False].mean()

In [30]:
for index in test.index:
  row = test.iloc[index]
  if (pd.isnull(row.RoomService)):
    if (row.CryoSleep == True or row.Age <= 12): test.loc[index, "RoomService"] = 0
    else: test.loc[index, "RoomService"] = meanRoomService
  if (pd.isnull(row.FoodCourt)):
    if (row.CryoSleep == True or row.Age <= 12): test.loc[index, "FoodCourt"] = 0
    else: test.loc[index, "FoodCourt"] = meanFoodCourt
  if (pd.isnull(row.ShoppingMall)):
    if (row.CryoSleep == True or row.Age <= 12): test.loc[index, "ShoppingMall"] = 0
    else: test.loc[index, "ShoppingMall"] = meanShoppingMall
  if (pd.isnull(row.Spa)):
    if (row.CryoSleep == True or row.Age <= 12): test.loc[index, "Spa"] = 0
    else: test.loc[index, "Spa"] = meanSpa
  if (pd.isnull(row.VRDeck)):
    if (row.CryoSleep == True or row.Age <= 12): test.loc[index, "VRDeck"] = 0
    else: test.loc[index, "VRDeck"] = meanVRDeck

In [31]:
sum([test.RoomService.isna().sum(), test.FoodCourt.isna().sum(), test.ShoppingMall.isna().sum(), test.Spa.isna().sum(), test.VRDeck.isna().sum()])

0

### Name

In [32]:
test.Name.isna().sum()

94

In [33]:
test.Name = test.Name.replace(np.nan, "Unknown Unknown")

In [34]:
test.Name.isna().sum()

0

### Cabin Deck

In [35]:
import random
for index in test.index:
  row = test.iloc[index]
  if (row.CabinDeck == "X"):
    if (row.HomePlanet == "Earth"):
      test.loc[index, "CabinDeck"] = random.choice(["F", "G"])
    if (row.HomePlanet == "Mars"):
      test.loc[index, "CabinDeck"] = random.choice(["D", "E"])
    if (row.HomePlanet == "Europa"):
      test.loc[index, "CabinDeck"] = random.choice(["A", "B", "C", "T"])

### Cabin Side

In [36]:
import random
for index in test.index:
  row = test.iloc[index]
  if (row.CabinSide == "X"):
      test.loc[index, "CabinSide"] = random.choice(["P", "S"])

## Feature Engineering

### Expenses

In [37]:
test.insert(test.columns.get_loc("Name"), "Expenses", test[["RoomService", "FoodCourt", "ShoppingMall", "Spa", "VRDeck"]].sum(axis=1))

In [38]:
test.head()

,PassengerId,HomePlanet,CryoSleep,CabinDeck,CabinNum,CabinSide,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Expenses,Name
0,0013_01,Earth,True,G,3,S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F,4,S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,2832.0,Lerome Peckers
2,0019_01,Europa,True,C,0,S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C,1,S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,7418.0,Meratz Caltilter
4,0023_01,Earth,False,F,5,S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,645.0,Brence Harperez

### Spending

In [39]:
test.insert(test.columns.get_loc("Name"), "Spending", test["Expenses"].apply(lambda x: 0 if x == 0 else 1))

In [40]:
test.head()

,PassengerId,HomePlanet,CryoSleep,CabinDeck,CabinNum,CabinSide,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Expenses,Spending,Name
0,0013_01,Earth,True,G,3,S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,0.0,0,Nelly Carsoning
1,0018_01,Earth,False,F,4,S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,2832.0,1,Lerome Peckers
2,0019_01,Europa,True,C,0,S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,0.0,0,Sabih Unhearfus
3,0021_01,Europa,False,C,1,S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,7418.0,1,Meratz Caltilter
4,0023_01,Earth,False,F,5,S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,645.0,1,Brence Harperez

### AgeRange

In [41]:
def age_range(age):
    if age <= 12:
        return 0
    elif age <= 18:
        return 1
    elif age <= 25:
        return 2
    else:
        return 3

In [42]:
test.insert(test.columns.get_loc("VIP"), "AgeRange", test["Age"].apply(age_range))

In [43]:
test.head()

,PassengerId,HomePlanet,CryoSleep,CabinDeck,CabinNum,CabinSide,Destination,Age,AgeRange,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Expenses,Spending,Name
0,0013_01,Earth,True,G,3,S,TRAPPIST-1e,27.0,3,False,0.0,0.0,0.0,0.0,0.0,0.0,0,Nelly Carsoning
1,0018_01,Earth,False,F,4,S,TRAPPIST-1e,19.0,2,False,0.0,9.0,0.0,2823.0,0.0,2832.0,1,Lerome Peckers
2,0019_01,Europa,True,C,0,S,55 Cancri e,31.0,3,False,0.0,0.0,0.0,0.0,0.0,0.0,0,Sabih Unhearfus
3,0021_01,Europa,False,C,1,S,TRAPPIST-1e,38.0,3,False,0.0,6652.0,0.0,181.0,585.0,7418.0,1,Meratz Caltilter
4,0023_01,Earth,False,F,5,S,TRAPPIST-1e,20.0,2,False,10.0,0.0,635.0,0.0,0.0,645.0,1,Brence Harperez

### Solo

In [44]:
def is_solo(passenger_id):
    group = passenger_id.split("_")[0]
    if (len(test[test["PassengerId"].str.startswith(group)]) == 1):
      return 1
    return 0

In [45]:
test.insert(test.columns.get_loc("HomePlanet"), "Solo", test["PassengerId"].apply(is_solo))

In [46]:
test.head()

,PassengerId,Solo,HomePlanet,CryoSleep,CabinDeck,CabinNum,CabinSide,Destination,Age,AgeRange,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Expenses,Spending,Name
0,0013_01,1,Earth,True,G,3,S,TRAPPIST-1e,27.0,3,False,0.0,0.0,0.0,0.0,0.0,0.0,0,Nelly Carsoning
1,0018_01,1,Earth,False,F,4,S,TRAPPIST-1e,19.0,2,False,0.0,9.0,0.0,2823.0,0.0,2832.0,1,Lerome Peckers
2,0019_01,1,Europa,True,C,0,S,55 Cancri e,31.0,3,False,0.0,0.0,0.0,0.0,0.0,0.0,0,Sabih Unhearfus
3,0021_01,1,Europa,False,C,1,S,TRAPPIST-1e,38.0,3,False,0.0,6652.0,0.0,181.0,585.0,7418.0,1,Meratz Caltilter
4,0023_01,1,Earth,False,F,5,S,TRAPPIST-1e,20.0,2,False,10.0,0.0,635.0,0.0,0.0,645.0,1,Brence Harperez

### FamilySize

In [47]:
def get_family_size(name):
    last_name = name.split(" ")[1]
    last_name_counts = test["Name"].apply(lambda x: x.split(" ")[1]).value_counts().to_dict()
    family_size = last_name_counts.get(last_name, 1)
    return family_size

In [48]:
test.insert(test.columns.get_loc("HomePlanet"), "FamilySize", test["Name"].apply(get_family_size))

In [49]:
test.head()

,PassengerId,Solo,FamilySize,HomePlanet,CryoSleep,CabinDeck,CabinNum,CabinSide,Destination,Age,AgeRange,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Expenses,Spending,Name
0,0013_01,1,4,Earth,True,G,3,S,TRAPPIST-1e,27.0,3,False,0.0,0.0,0.0,0.0,0.0,0.0,0,Nelly Carsoning
1,0018_01,1,1,Earth,False,F,4,S,TRAPPIST-1e,19.0,2,False,0.0,9.0,0.0,2823.0,0.0,2832.0,1,Lerome Peckers
2,0019_01,1,1,Europa,True,C,0,S,55 Cancri e,31.0,3,False,0.0,0.0,0.0,0.0,0.0,0.0,0,Sabih Unhearfus
3,0021_01,1,1,Europa,False,C,1,S,TRAPPIST-1e,38.0,3,False,0.0,6652.0,0.0,181.0,585.0,7418.0,1,Meratz Caltilter
4,0023_01,1,3,Earth,False,F,5,S,TRAPPIST-1e,20.0,2,False,10.0,0.0,635.0,0.0,0.0,645.0,1,Brence Harperez

## Final Data Set

In [50]:
test.isna().sum()

PassengerId     0
Solo            0
FamilySize      0
HomePlanet      0
CryoSleep       0
CabinDeck       0
CabinNum        0
CabinSide       0
Destination     0
Age             0
AgeRange        0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Expenses        0
Spending        0
Name            0
dtype: int64

In [51]:
test.head(10)

,PassengerId,Solo,FamilySize,HomePlanet,CryoSleep,CabinDeck,CabinNum,CabinSide,Destination,Age,AgeRange,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Expenses,Spending,Name
0,0013_01,1,4,Earth,True,G,3,S,TRAPPIST-1e,27.0,3,False,0.0,0.0,0.0,0.0,0.0,0.0,0,Nelly Carsoning
1,0018_01,1,1,Earth,False,F,4,S,TRAPPIST-1e,19.0,2,False,0.0,9.0,0.0,2823.0,0.0,2832.0,1,Lerome Peckers
2,0019_01,1,1,Europa,True,C,0,S,55 Cancri e,31.0,3,False,0.0,0.0,0.0,0.0,0.0,0.0,0,Sabih Unhearfus
3,0021_01,1,1,Europa,False,C,1,S,TRAPPIST-1e,38.0,3,False,0.0,6652.0,0.0,181.0,585.0,7418.0,1,Meratz Caltilter
4,0023_01,1,3,Earth,False,F,5,S,TRAPPIST-1e,20.0,2,False,10.0,0.0,635.0,0.0,0.0,645.0,1,Brence Harperez
5,0027_01,1,4,Earth,False,F,7,P,TRAPPIST-1e,31.0,3,False,0.0,1615.0,263.0,113.0,60.0,2051.0,1,Karlen Ricks
6,0029_01,1,1,Europa,True,B,2,P,55 Cancri e,21.0,2,False,0.0,0.0,0.0,0.0,0.0,0.0,0,Aldah Ainserfle
7,0032_01,0,2,Europa,True,D,0,S,TRAPPIST-1e,20.0,2,False,0.0,0.0,0.0,0.0,0.0,0.0,0,Acrabi Pringry
8,0032_02,0,2,Europa,True,D,0,S,55 Cancri e,23.0,2,False,0.0,0.0,0.0,0.0,0.0,0.0,0,Dhena Pringry
9,0033_01,1,2,Earth,False,F,7,S,55 Cancri e,24.0,2,False,0.0,639.0,0.0,0.0,0.0,639.0,1,Eliana Delazarson

In [52]:
test.to_csv("final_test.csv")